html, body, #root {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

#root {
  display: flex;
  justify-content: center;   /* centre horizontal */
  align-items: center;       /* centre vertical */
  background-color: #f9f9f9; /* couleur de fond */
}
